*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

div.full{
    height: 100vh;
    width:100%;
    margin: auto;
    /* margin-top: 70px; */
/*     border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    grid-template-rows: repeat(19,50px);
}


#movement{
    border: 1px solid red;
    margin-left: 10px;
    height: 67px ;
    width: 100%;
    margin-left: 120px;
    padding: 0px 20px 0px 20px;
    border: .5px solid rgb(206, 202, 202);
    border-radius: 5px 5px 5px 0px;
    grid-column: 1/4;
    grid-row:  4/5;
  
}
p{
    margin-left:1%;
    padding-bottom: 3px;
    text-transform: uppercase;
    padding-top: 5px;
}

div.links{
    display: flex;
    
    justify-content: space-between;
    margin-top:12px;
    margin-left: 0px;  
    align-items: flex-start; 
    flex-wrap: wrap;
    

}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border: .5px solid rgb(206, 202, 202);
    border-radius: 5px 5px 5px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Arial;
    
}
.link2 a{
    background-color: rgb(37, 186, 245);
    color: white;
    outline: none;
    border: none;
}

div.amount{
    grid-row: 9/6;
    grid-column: 1/4;
    margin-left: 120px;
    border: .5px solid rgb(206, 202, 202);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-bottom: 0px;
    height: 34vh;
    border-radius: 5px 5px 5px 0px;
}
div.big1{
    margin-left: 0;
    ;
}

select{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: .5px solid rgb(206, 202, 202);
}
div.select{
    background-color:  gray;
    padding: 5px;
    color: white;
    opacity: .7;   
   
}
.amt2, .amt, .rate1, .compound{
    font-size: 12px;
    line-height: 32px;
    opacity: .7;
}

div.ammt{
    padding-bottom: 20px;
    margin-left: 0;
}
div.rate{
    padding-bottom: 20px;
    margin-left: 0

}
div.text {
    grid-column: 2/4;
    grid-row: 13/15;
    text-align: center;
    margin-left: 12px;
    
}
p.textt{
    text-transform: capitalize;
    color:  rgb(37, 186, 245); 
    font-weight: bolder;
}

div.side{
    
   
    max-width: fit-content;
    margin-left: auto;
    grid-column: 4/-1;
    height: 75vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-right: 300px; */
}
h5{
    text-transform: uppercase;
}
h6{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    opacity: .5;
}

#int{
    padding-top: 10px;
    font-weight: bolder;
    font-size: clamp(10px, 10vw, 30px);
    color: rgb(28, 134, 7);
}

img.wallet{
    width: 221px;
    height: 190px;
    
}

div.money{
    padding: 25px;
    border: .5px solid rgb(206, 202, 202);
    /* max-width: fit-content; */
    margin-top: 0;
    border-radius: 15px 15px 15px 0px;
    line-height: 22px;

}

div.image{
    border: .5px solid rgb(206, 202, 202);
    margin-left: auto;
    padding-top: 120%;
    height: 480px;
    align-self: center;
    border-radius: 15px 15px 15px 0px;
    
}

@media screen and (max-width: 400px) {
    div.links{
        display:inline-block;
       
        border: 0px 0px 2px 0px solid red; 
    }
    div#movement{
        border:none;
        height:150px;
        text-align: center;
        margin:auto;
        width: 100%;
    }
    a{
        border:none;
      
        padding: 0px;
        margin-top: px;
        
    }
    section{
        margin:0 auto;
        display:block;
       
       
       
    }
    div.amount{
        margin-top: 40px;
        display: block;
        border:none;
        text-align: center;
        margin-left:0;
        width:90%;

    }
    div.text{
        display:block;
        
        text-align:center;
        width:80%;
        margin:0 auto;
        margin-top:45px;

    }
    p.textt{
        font-size: 13px
    }
    p{
        text-align:center;
        font-size: 30px;
        margin-left:0;
        font-weight:bold;

    }
    .link1, .link2, .link3, .link4, .link5 {
        border-bottom:  1px solid #cec9c9;
        width: 300px;
        padding-bottom:4px;

    }
}

@media screen and (max-width: 970px){
    div.full{ display: grid 
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat (18, 50px);
    }
    div.side{
        justify-content:space-evenly;
     display: none;
    }
    #movement{
        grid-column:1/5;
        flex-wrap:wrap;
    }
    div.amount{
        grid-column: 1/5;
    }
    div.text{ grid-column: 1/-1}
}

@media screen and ( max-width: 600px){
    div.full{
        margin:0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat (15/40px);
    }
    #movement{
        width:150%;
        flex-wrap:wrap;
        grid-column:1/4;
/*         display: flex; */
        height: fit-content;
        border: none;
        margin-left:0 ;
       
    }
    .navigation p{
        font-size: 13px;
    }
    a{
        font-size:11px
    }
    div.links{
        padding:0px;
        justify-content:normal;
        align-items:
        flex-wrap: wrap;
       
    }
    div.amount{
        margin-left:0;
        grid-column: 1/-1;
    }
}