.sidenav {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    background: #062863;

    
}

.sidenav a{
    display : grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    color: #efefef;
    text-decoration: none;
    align-items: center;  
    column-gap: 25px;  
    
}

.navEnd{
    position: absolute;
    bottom: 40px;
}

.navTop{
    position: relative;
    top: 20px;
}



.navMid{
    position: relative;
    top: 60px;
}

.navMid a{
    margin: 15px 0;    
}

.sidenav a{
    margin-left: 10px;
}

#savings{
    margin-left: 30px;
}

#savings div{
    background-color: white;
    color: #062863 ;
    padding: 5px 15px;
    border-top-left-radius: 10px ;
    margin-right: 100px;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
}